@model Persada.Fr.ModelView.TOURIS_TV_CATEGORY
@{
    ViewBag.Title = "Create Category";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ActionCreate", "Category", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="col-md-2 control-label">Category Code</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CATEGORY_CODE, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Category Name</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CATEGORY_NAME, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Category Description</label>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.CATEGORY_DESCRIPTION, new { @class = "form-control", @rows = "3" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Url</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.URL, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Class</label>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CLASS, (IEnumerable<SelectListItem>)ViewBag.GetClassButtonList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Image</label>
        <div class="col-md-10">
            <div>
                <img id="txtImage" src="data:image/png;base64," class="img-medium" style="display:none" />
                <input type="file" id="postedFile" name="postedFile" style="display:none" />
            </div>
            <div style="float:left">
                <a href="#" id="btnBrowse" onclick="GetFile()" class="btn btn-sm btn-white btn-default btn-round">Browse</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#datetimepicker4').datetimepicker();

        $("#myBtn").click(function () {
            $("#myModal").modal();
        });
    });
</script>
