@model IEnumerable<Persada.Fr.ModelView.TOURIS_TV_DISTRICT> 
@using Persada.Fr.CommonFunction

@{
    ViewBag.Title = "Index District";
    ViewBag.AreaSetup = "active";
    ViewBag.IndexDistrict = "active";
}

<h2>@ViewBag.Title.</h2>
@if (ViewBag.msgSuccess != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>

        <strong>
            <i class="ace-icon fa fa-check"></i>
        </strong>
        @ViewBag.msgSuccess
        <br>
    </div>
}

@if (ViewBag.msgError != null)
{
    <div class="alert alert-danger">
        <a href="#" class="close" type="button" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </a>
        <strong>
            <i class="ace-icon fa fa-times"></i>
        </strong>
        @ViewBag.msgError
        <br>
    </div>
} 


<p>
    <a class="btn col-md-1 btn-success" href="@Url.Action("Create")" title="Create">
        Create
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            Code 
        </th>
        <th>
            Country 
        </th>
        <th>
            Province
        </th>
        <th>
            City
        </th>
        <th>
            District
        </th>
        <th>
            Description
        </th>
        <th>
            Created Time
        </th>
        <th>
            Created By
        </th>
        <th>
            Last Modified Time
        </th>
        <th>
            Last Modified By
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @item.DISTRICT_CODE
            </td>
            <td>
                @item.COUNTRY_NAME
            </td>
            <td>
                @item.PROVINCE_NAME
            </td>
            <td>
                @item.CITY_NAME
            </td>
            <td>
                @item.DISTRICT_NAME
            </td>
            <td>
                @item.DISTRICT_DESCRIPTION
            </td>
            <td>
                @Common.StandardDateTime(item.CREATED_TIME)
            </td>
            <td>
                @item.CREATED_BY
            </td>
            <td>
                @if (item.LAST_MODIFIED_TIME.HasValue)
                {
                    @Common.StandardDateTime(item.LAST_MODIFIED_TIME.Value)
                }
            </td>
            <td>
                @item.LAST_MODIFIED_BY
            </td>
            <td>
                <a class="btn btn-xs btn-warning" href="@Url.Action("Detail", new { id = item.ID })" title="Detail">
                    @Html.Raw(Labels.IconAction("Detail"))
                </a>
                <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", new { id = item.ID })" title="Edit">
                    @Html.Raw(Labels.IconAction("Edit"))
                </a>
                <a class="btn btn-xs btn-danger" href="@Url.Action("Delete", new { id = item.ID })" title="Delete">
                    @Html.Raw(Labels.IconAction("Delete"))
                </a>
            </td>
        </tr>
    }

</table>
