@model Persada.Fr.ModelView.TOURIS_TV_MENU

@{
    ViewBag.Title = "Delete Menu";
}

<h2>@ViewBag.Title.</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Menu Name
        </dt>

        <dd>
            @Model.MENU_NAME
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Model.MENU_DESCRIPTION
        </dd>
        <dt>
            Parent Id
        </dt>

        <dd>
            @Model.MENU_PARENT_ID
        </dd>

    </dl>

    @using (Html.BeginForm("ActionDelete", "Menu", new { id = Model.ID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
