@model Persada.Fr.ModelView.TOURIS_TV_PROVINCE

@{
    ViewBag.Title = "Delete Province";
}

<h2>@ViewBag.Title.</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Province Code
        </dt>

        <dd>
            @Model.PROVINCE_CODE
        </dd>

        <dt>
            Country 
        </dt>

        <dd>
            @Model.COUNTRY_NAME
        </dd>

        <dt>
            Province Name
        </dt>

        <dd>
            @Model.PROVINCE_NAME
        </dd>

        <dt>
            Province Description
        </dt>

        <dd>
            @Model.PROVINCE_DESCRIPTION
        </dd>

    </dl>

    @using (Html.BeginForm("ActionDelete", "Province", new { id = Model.ID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
